[Unit]
Description="{{ bench_name }}-redis-queue"
PartOf={{ bench_name }}-redis.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ redis_server }} {{ redis_queue_config }}
StandardOutput=file:{{ bench_dir }}/logs/redis-queue.log
StandardError=file:{{ bench_dir }}/logs/redis-queue.error.log
WorkingDirectory={{ sites_dir }}
