[Unit]
After=network.target
Requires={{ bench_name }}-web.target{% if not use_gunicorn_companion %} {{ bench_name }}-workers.target{% endif %} {{ bench_name }}-redis.target

[Install]
WantedBy=multi-user.target
