[Unit]
Description="{{ bench_name }}-redis-socketio"
PartOf={{ bench_name }}-redis.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ redis_server }} {{ redis_socketio_config }}
StandardOutput=file:{{ bench_dir }}/logs/redis-socketio.log
StandardError=file:{{ bench_dir }}/logs/redis-socketio.error.log
WorkingDirectory={{ sites_dir }}
