[Unit]
After=network.target
Wants={{ bench_name }}-frappe-web.service{% if not use_gunicorn_companion %} {{ bench_name }}-node-socketio.service{% endif %}

[Install]
WantedBy=multi-user.target
