[Unit]
Description="{{ bench_name }}-frappe-default-worker %I"
PartOf={{ bench_name }}-workers.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ bench_cmd }} worker --queue default
StandardOutput=file:{{ bench_dir }}/logs/worker.log
StandardError=file:{{ bench_dir }}/logs/worker.error.log
WorkingDirectory={{ bench_dir }}
