language: python
dist: trusty
sudo: required

python:
  - "2.7"

install:
  - sudo apt-get purge -y mysql-common mysql-server mysql-client
  # - sudo python $TRAVIS_BUILD_DIR/installer/install.py --user travis --skip-bench-setup
  - sudo bash $TRAVIS_BUILD_DIR/install_scripts/setup_frappe.sh --skip-install-bench --mysql-root-password travis
  - mkdir -p ~/bench-repo
  - cp -r $TRAVIS_BUILD_DIR/* ~/bench-repo/
  # - cd ~ && sudo python bench-repo/installer/install.py --only-dependencies

script:
  - cd ~
  - sudo pip install --upgrade pip
  - sudo pip install -e bench-repo
  # - sudo python -m unittest bench.tests.test_setup_production.TestSetupProduction.test_new_site
  - sudo python -m unittest -v bench.tests.test_setup_production
