language: python
dist: xenial

python:
  - "2.7"

install:
  - sudo pip install urllib3 pyOpenSSL ndg-httpsclient pyasn1
  - sudo apt-get purge -y mysql-common mysql-server mysql-client
  - sudo apt-get install --only-upgrade -y git
  - sudo apt-get install hhvm && rm -rf /home/travis/.kiex/
  - mkdir -p ~/.bench
  - mkdir -p /tmp/.bench
  - cp -r $TRAVIS_BUILD_DIR/* ~/.bench
  - cp -r $TRAVIS_BUILD_DIR/* /tmp/.bench

  - sudo python $TRAVIS_BUILD_DIR/playbooks/install.py --user travis --run-travis --production --verbose
  # - sudo bash $TRAVIS_BUILD_DIR/install_scripts/setup_frappe.sh --skip-install-bench --mysql-root-password travis
  # - cd ~ && sudo python bench-repo/installer/install.py --only-dependencies

script:
  - cd ~
  - sudo pip install --upgrade pip
  - sudo pip install -e ~/.bench
  # - sudo python -m unittest bench.tests.test_setup_production.TestSetupProduction.test_setup_production_v6
  - sudo python -m unittest -v bench.tests.test_setup_production
