[mysqld]
innodb-file-format=barracuda
innodb-file-per-table=1
innodb-large-prefix=1
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_allowed_packet=256M

[mysql]
default-character-set = utf8mb4

[mysqldump]
max_allowed_packet=256M
