---
- hosts: localhost

- include: macosx.yml
  when: ansible_distribution == 'MacOSX'

- include: ubuntu.yml
  when: ansible_distribution == 'Ubuntu'

- include: centos.yml
  when: ansible_distribution == 'CentOS'
