---
- hosts: localhost
  vars_prompt:
    - name: mysql_root_password
      prompt: "MySQL Root Password"
      when: ansible_distribution == 'Ubuntu'

- include: macosx.yml
  when: ansible_distribution == 'MacOSX'
- include: ubuntu.yml
  when: ansible_distribution == 'Ubuntu'
- include: centos.yml
  when: ansible_distribution == 'CentOS'
